<?xml version="1.0" encoding="UTF-8"?>

<!--
 ~ ShaBo - Discord BOT
 ~ Copyright (C) 2018 - ji2L
 ~
 ~ This program is free software: you can redistribute it and/or modify
 ~ it under the terms of the GNU General Public License as published by
 ~ the Free Software Foundation, either version 3 of the License, or
 ~ (at your option) any later version.
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 ~ GNU General Public License for more details.
 ~
 ~ You should have received a copy of the GNU General Public License
 ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<configuration debug="false">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/shabo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/shabo.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{HH:mm:ss}] [%t/%level] [%logger{0}] : %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="TRACE">
		<appender-ref ref="FILE" />
	</root>
</configuration>
